 # Exploratory Data Analysis on the Zillow Home Prices Data
 
 ## Loading the libraries and data set

`ggplot2` and `tidyverse` libraries are used for data visualization and munging
The `lubridate` library is used here for easy operations with datetime objects.
The `fiftystater` and the `geofacet` packages are used for plotting the given values across the 50 states of the USA.

In [1]:
library(tidyverse)
library(ggplot2)
library(lubridate)
library(fiftystater)
library(geofacet)

Loading tidyverse: ggplot2
Loading tidyverse: tibble
Loading tidyverse: tidyr
Loading tidyverse: readr
Loading tidyverse: purrr
Loading tidyverse: dplyr
Conflicts with tidy packages ---------------------------------------------------
filter(): dplyr, stats
lag():    dplyr, stats

Attaching package: ‘lubridate’

The following object is masked from ‘package:base’:

    date

In [4]:
# data read

state <- read.csv(file = 'State_time_series.csv')

  Date       RegionName  DaysOnZillow_AllHomes
1 1996-04-30 Alabama     NA
2 1996-04-30 Arizona     NA
3 1996-04-30 Arkansas    NA
4 1996-04-30 California  NA
5 1996-04-30 Colorado    NA
6 1996-04-30 Connecticut NA
  InventorySeasonallyAdjusted_AllHomes InventoryRaw_AllHomes
1 NA                                   NA
2 NA                                   NA
3 NA                                   NA
4 NA                                   NA
5 NA                                   NA
6 NA                                   NA
  MedianListingPricePerSqft_1Bedroom MedianListingPricePerSqft_2Bedroom
1 NA                                 NA
2 NA                                 NA
3 NA                                 NA
4 NA                                 NA
5 NA                                 NA
6 NA                                 NA
  MedianListingPricePerSqft_3Bedroom MedianListingPricePerSqft_4Bedroom
1 NA                                 NA
2 NA                                 NA
3 NA                                 NA
4 NA                                 NA
5 NA                                 NA
6 NA                                 NA
  MedianListingPricePerSqft_5BedroomOrMore ⋯ ZHVI_BottomTier ZHVI_CondoCoop
1 NA                                       ⋯ 45600            99500
2 NA                                       ⋯ 67100            78900
3 NA                                       ⋯ 38400            70300
4 NA                                       ⋯ 95100           136100
5 NA                                       ⋯ 82700            99400
6 NA                                       ⋯ 83700            85000
  ZHVI_MiddleTier ZHVI_SingleFamilyResidence ZHVI_TopTier ZRI_AllHomes
1  79500           79000                     140200       NA
2 103600          107500                     168700       NA
3  64400           64500                     115200       NA
4 157900          162000                     270600       NA
5 128100          133600                     209300       NA
6 132000          141000                     231600       NA
  ZRI_AllHomesPlusMultifamily ZriPerSqft_AllHomes
1 NA                          NA
2 NA                          NA
3 NA                          NA
4 NA                          NA
5 NA                          NA
6 NA                          NA
  Zri_MultiFamilyResidenceRental Zri_SingleFamilyResidenceRental
1 NA                             NA
2 NA                             NA
3 NA                             NA
4 NA                             NA
5 NA                             NA
6 NA                             NA

## Introduction

Zillow collects , processes and publishes housing and economic data from a variety of propriety sources.To get an idea of the data we have, we shall ask several questions.

* How do the home values vary by tier type?
* How do the home values vary by time by tier?
* How do the rent to price ratio of homes change by state?
* How do the number of days on the Zillow database vary with the median value?
* How does the median value of the house rent per square feet change with time?


## How do the home values change by tier?

In [5]:
head(state, 10)

   Date       RegionName  DaysOnZillow_AllHomes
1  1996-04-30 Alabama     NA
2  1996-04-30 Arizona     NA
3  1996-04-30 Arkansas    NA
4  1996-04-30 California  NA
5  1996-04-30 Colorado    NA
6  1996-04-30 Connecticut NA
7  1996-04-30 Delaware    NA
8  1996-04-30 Florida     NA
9  1996-04-30 Georgia     NA
10 1996-04-30 Hawaii      NA
   InventorySeasonallyAdjusted_AllHomes InventoryRaw_AllHomes
1  NA                                   NA
2  NA                                   NA
3  NA                                   NA
4  NA                                   NA
5  NA                                   NA
6  NA                                   NA
7  NA                                   NA
8  NA                                   NA
9  NA                                   NA
10 NA                                   NA
   MedianListingPricePerSqft_1Bedroom MedianListingPricePerSqft_2Bedroom
1  NA                                 NA
2  NA                                 NA
3  NA                                 NA
4  NA                                 NA
5  NA                                 NA
6  NA                                 NA
7  NA                                 NA
8  NA                                 NA
9  NA                                 NA
10 NA                                 NA
   MedianListingPricePerSqft_3Bedroom MedianListingPricePerSqft_4Bedroom
1  NA                                 NA
2  NA                                 NA
3  NA                                 NA
4  NA                                 NA
5  NA                                 NA
6  NA                                 NA
7  NA                                 NA
8  NA                                 NA
9  NA                                 NA
10 NA                                 NA
   MedianListingPricePerSqft_5BedroomOrMore ⋯ ZHVI_BottomTier ZHVI_CondoCoop
1  NA                                       ⋯  45600           99500
2  NA                                       ⋯  67100           78900
3  NA                                       ⋯  38400           70300
4  NA                                       ⋯  95100          136100
5  NA                                       ⋯  82700           99400
6  NA                                       ⋯  83700           85000
7  NA                                       ⋯  77200              NA
8  NA                                       ⋯  52500           70600
9  NA                                       ⋯  57200           89300
10 NA                                       ⋯ 144500          177000
   ZHVI_MiddleTier ZHVI_SingleFamilyResidence ZHVI_TopTier ZRI_AllHomes
1   79500           79000                     140200       NA
2  103600          107500                     168700       NA
3   64400           64500                     115200       NA
4  157900          162000                     270600       NA
5  128100          133600                     209300       NA
6  132000          141000                     231600       NA
7  106800          107400                     161600       NA
8   86300           92100                     155300       NA
9   92000           92400                     163900       NA
10 227400          262600                     374700       NA
   ZRI_AllHomesPlusMultifamily ZriPerSqft_AllHomes
1  NA                          NA
2  NA                          NA
3  NA                          NA
4  NA                          NA
5  NA                          NA
6  NA                          NA
7  NA                          NA
8  NA                          NA
9  NA                          NA
10 NA                          NA
   Zri_MultiFamilyResidenceRental Zri_SingleFamilyResidenceRental
1  NA                             NA
2  NA                             NA
3  NA                             NA
4  NA                             NA
5  NA                             NA
6  NA                             NA
7  NA                             NA
8  NA                             NA
9  NA                             NA
10 NA                             NA

In [9]:
tier <- names(state)[grepl('Tier',names(state))]
tier1 <- names(state)

In [10]:
head(tier1)

[1] "Date"
[2] "RegionName"
[3] "DaysOnZillow_AllHomes"
[4] "InventorySeasonallyAdjusted_AllHomes"
[5] "InventoryRaw_AllHomes"
[6] "MedianListingPricePerSqft_1Bedroom"